.single-player-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
  padding: 1rem;
  margin: 0;
  max-width: 26rem;
}

.single-player-box {
  background-color: var(--light-slate);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 0.3rem;
  margin-right: 1rem;
}

.single-player-box:last-child {
  margin-right: 0;
}

.single-player-title {
  color: var(--slate);
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.single-player-value {
  color: var(--navy);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}
