main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-board {
  align-self: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

app-score {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
