.board {
  align-self: center;
  /* margin: auto; */
}

.board-cell {
  background-color: var(--navy);
  border-radius: 100%;
  transition-duration: 0.15s;
}

.board-cell-4 {
  height: 20vw;
  max-height: 6rem;
  width: 20vw;
  max-width: 6rem;
  margin: 0.25rem;

  font-size: 12vw;
}

.board-cell-6 {
  height: 14vw;
  max-height: 4.2rem;
  width: 14vw;
  max-width: 4.2rem;
  margin: 0.15rem;

  font-size: 8vw;
}

/* .active {
  background-color: var(--orange);
  outline: 2px solid var(--orange);
  outline-offset: 2px;
} */

.board-cell-4.active {
  background-color: var(--orange);
  outline: 2px solid var(--orange);
  outline-offset: 2px;
}

.board-cell-6.active {
  background-color: var(--orange);
  outline: 1px solid var(--orange);
  outline-offset: 1px;
}

/* .wrong {
  background-color: red;
  outline: 2px solid red;
  outline-offset: 2px;
} */

.board-cell-4.wrong {
  background-color: red;
  outline: 2px solid red;
  outline-offset: 2px;
}

.board-cell-6.wrong {
  background-color: red;
  outline: 1px solid red;
  outline-offset: 1px;
}

.correct {
  background-color: var(--light-slate);
  transform: scale(0);
  animation-name: disappear;
  animation-duration: 1s;
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }

  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* Numbers Styling */

span.numbers {
  color: var(--white);
  /* font-size: 12vw; */
  font-weight: bold;
  opacity: 0;
  transition-duration: 0.15s;
}

span.numbers-active {
  opacity: 1;
}

@media only screen and (min-width: 550px) {
  .board-cell-4 {
    font-size: 4.8rem;
  }

  .board-cell-6 {
    font-size: 3rem;
  }
}
